footer
    div.container

        div.top
            span Имеются противопоказания. Необходима консультация специалиста

        div.middle
            a(href="###").logotype: img(src="images/logotype.svg")

            div.contacts
                div.phone
                    img(src="images/phone.svg", alt="")
                    div
                        a(href="tel:+7 (484) 220-70-33").phone +7 (484) 220-70-33
                        a(href="###").link Заказать звонок
                div.contact
                    img(src="images/email.svg", alt="")
                    a(href="mailto:centre@medmaster.ru") centre@medmaster.ru
                div.contact
                    img(src="images/pin.svg", alt="")
                    span 193231, г. Калуга, #[br]ул. Фомушина, д. 8 корп. 1

            div.socials
                span Мы в соцсетях
                div.links
                    a(href="###"): img(src="images/vk.svg", alt="")
                    a(href="###"): img(src="images/ok.svg", alt="")
                button Написать нам

            div.additional
                a(href="###") Версия #[br]для слабовидящих
                a(href="###") Версия #[br]для печати

        div.bottom
            span.policy © 2025 Все права защищены. Обращаем ваше внимание на то, что данный интернет-ресурс носит исключительно информационный характер и не является публичной офертой, определяемой положением ст.437 ГК РФ. Для получения подробной информации о цене и возможности получения услуги обратитесь к менеджеру медицинского центра
            a(href="###") Лицензии
            a(href="###") Надзорные органы
            a(href="###") Политика конфиденциальности

