header
    div.container

        img(src="images/menu.svg", alt="").menu

        a(href="###").logotype: img(src="images/logotype.svg")

        form.search
            input(type="search", placeholder="Поиск по сайту")
            button
                img(src="images/search.svg")

        div.phone
            img(src="images/phone.svg", alt="")
            div
                a(href="tel:+7 (484) 220-70-33").phone +7 (484) 220-70-33
                a(href="###").link Заказать звонок

        button Онлайн запись
        button Заявка на запись к Врачу

        div.mobile
            a(href="###"): img(src="images/phone_mobile.svg", alt="") 
            a(href="###"): img(src="images/search_mobile.svg", alt="") 

section.menu
    div.container
        menu
            a(href="###").active Направления
            a(href="###") Специалисты
            a(href="###") Цены
            a(href="###") Анализы
            a(href="###") О центре
            a(href="###") Новости и акции
            a(href="###") Вопрос ответ
            a(href="###") Контакты
