section.advantages
    div.container
        div.advantage
            img(src="images/advantage_1.svg", alt="")
            div.text
                h3 Большой штат специалистов
                span Можете быть уверены - мы вас вылечим
        div.advantage
            img(src="images/advantage_2.svg", alt="")
            div.text
                h3 Многолетний опыт
                span Можете быть уверены - мы вас вылечим
        div.advantage
            img(src="images/advantage_3.svg", alt="")
            div.text
                h3 Современное оборудование
                span Точные диагнозы и эффективное лечение
        div.advantage
            img(src="images/advantage_4.svg", alt="")
            div.text
                h3 Ценим доверие
                span Врачи общей практики и узкие специалисты
        div.advantage
            img(src="images/advantage_5.svg", alt="")
            div.text
                h3 Комфорт и забота
                span Уютная атмосфера и внимательный персонал