section.banner
    div.container

        div.banner
            div.text
                h2 Запишитесь на онлайн консультацию
                span Не упустите возможность получить квалифицированную медицинскую помощь. Запишитесь на консультацию прямо сейчас!
                button Онлайн запись

            img(src="images/logotype.svg", alt="")