mixin doctor(image, name, position)
    div.doctor
        img(src=image, alt="")
        div.description
            h3= name
            span= position
            div.button
                button Записаться к врачу

section.doctors
    div.container

        div.title
            h2 Наши врачи
            div.swiper-navigation
                div.arrow
                    include ../../../images/swiper-arrow.svg
                div.arrow
                    include ../../../images/swiper-arrow.svg

        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    +doctor('images/1.webp', 'Кондратьев Игорь Николаевич', 'Врач-уролог-андролог, главный врач медицинского центра')
                div.swiper-slide
                    +doctor('images/2.webp', 'Кондратьев Игорь Николаевич', 'Врач-уролог-андролог, главный врач медицинского центра')

        div.swiper-pagination-custom
