section.form
    div.container

        div.title
            h2 Не нашли то, что искали?
            span Наши администраторы ответят на любой интересующий вопрос по услуге
        form
            div.inputs
                input(type="text", placeholder="Фамилия и имя", required)
                input(type="tel", placeholder="Телефон", required)
                input(type="email", placeholder="Email", required)
            textarea(placeholder="Ваше сообщение")

            div.submit
                button Отправить
                span Нажимая кнопку, вы даете свое согласие #[br]на обработку персональных данных  