//- section.breadcrumbs
//-     div.container
//-         a(href="###") Главная
//-         img(src="images/breadcrumb-arrow.svg", alt="")
//-         a(href="###") Направления
//-         img(src="images/breadcrumb-arrow.svg", alt="")
//-         span Флебология

section.main
    div.container
        div.text
            h1 Стоматологическое лечение в медицинском центре “Медицинский консилиум”
            div.discount
                img(src="images/discount.svg")
                span Акция действительна до 28 февраля 2025 года
            ul
                li Удаление зубов любого типа
                li Синус-лифтинг
                li Пластика уздечки языка
                li Лечение кариеса зубов

            div.buttons
                button Записаться к врачу
                div.shield
                    div.price
                        span.price от 4199₽
                        span.oldprice 6000₽
                    strong Консультация + Лечение + Фторирование
                    span.text *Цена лечения начального кариеса за зуб

        div.image
            img(src="images/6.webp", alt="")

    div.background
        img(src="images/4.webp", alt="").background
        img(src="images/5.webp", alt="").image