section.main
    padding-top: 74px
    padding-bottom: 74px
    margin-bottom: 74px
    background: url(../images/5.webp) no-repeat, url(../images/4.webp) no-repeat
    background-position: center right
    background-size: auto 100%, cover
    +screen(m)
        padding-top: 45px
        padding-bottom: 45px
        margin-bottom: 45px

    div.container
        display: grid
        grid-template-columns: repeat(2, 1fr)
        +screen(m)
            grid-template-columns: 1fr

    h1
        margin-bottom: 24px
        +screen(m)
            margin-bottom: 10px

    div.discount
        display: grid
        align-items: center
        grid-template-columns: max-content 1fr
        grid-gap: 15px
        margin-bottom: 24px
        +screen(m)
            margin-bottom: 10px
            grid-gap: 8px

        img
            +screen(m)
                width: 13px

        span
            font-weight: 400
            font-size: 18px
            line-height: 150%
            color: #333
            +screen(m)
                font-size: 12px

    ul
        padding-left: 2.5em
        margin-bottom: 40px
        +screen(m)
            margin-bottom: 17px
            padding-left: 1.5em

        li
            list-style-type: disc
            font-weight: 400
            font-size: 24px
            line-height: 150%
            color: #666
            +screen(m)
                font-size: 15px
                line-height: 135%

    div.buttons
        display: grid
        grid-template-columns: repeat(2, max-content)
        grid-gap: 24px
        align-items: center
        +screen(m)
            grid-template-columns: 1fr
            justify-items: start
            grid-gap: 16px

    button
        padding: 13px 25px
        font-weight: 700
        font-size: 16px
        line-height: 150%
        color: #fff
        +screen(m)
            font-weight: 700
            font-size: 13px
            line-height: 150%
            color: #fff
            padding: 8px 25px

    div.shield
        display: grid
        justify-items: center
        border-radius: 6px
        max-width: 447px
        background: #188b30
        text-align: center
        padding: 12px
        div.price
            display: grid
            grid-auto-flow: column
            grid-auto-columns: max-content
            align-items: end
            grid-gap: 9px

            span.price
                font-weight: 700
                font-size: 24px
                line-height: 150%
                color: #fff
                +screen(m)
                    font-size: 20px

            span.oldprice
                font-weight: 400
                font-size: 18px
                line-height: 150%
                text-decoration: line-through
                color: #fff
                padding-bottom: 0.2em
                +screen(m)
                    font-size: 15px

        strong
            font-weight: 700
            font-size: 20px
            line-height: 150%
            color: #fff
            +screen(m)
                font-size: 15px

        span.text
            font-weight: 400
            font-size: 14px
            line-height: 150%
            color: #fff
            +screen(m)
                font-size: 12px







