mixin price(title, price)
    div.accordion
        div.accordion_caption
            h3= title
            span= price
            div.arrow
                include ../../../images/accordion-arrow.svg
        div.accordion_content
            div.accordion_overflow
                div.accordion_wrap
                    if block
                        block

section.prices
    div.container

        h2 Цены на услуги

        div.list
            +price('Вскрытие абсцесса', '1500 ₽')
                span Перикоронарит, или перикоронит, — это воспалительное заболевание, которое распространяется на ткани вокруг прорезывающегося зуба. Механизм развития воспаления состоит в том, что зуб при прорезывании преодолевает массу препятствий: костную ткань, надкостницу, мягкие ткани. При трудном и длительном прорезывании над зубом формируется своеобразный капюшон, под который попадают болезнетворные бактерии и остатки пищи. В результате развивается воспалительный процесс.
            +price('Лечение перикоронита', '1500 ₽')
                span Перикоронарит, или перикоронит, — это воспалительное заболевание, которое распространяется на ткани вокруг прорезывающегося зуба. Механизм развития воспаления состоит в том, что зуб при прорезывании преодолевает массу препятствий: костную ткань, надкостницу, мягкие ткани. При трудном и длительном прорезывании над зубом формируется своеобразный капюшон, под который попадают болезнетворные бактерии и остатки пищи. В результате развивается воспалительный процесс.
            +price('Закрытие ороантрального сообщения', '9000 ₽')
                span Перикоронарит, или перикоронит, — это воспалительное заболевание, которое распространяется на ткани вокруг прорезывающегося зуба. Механизм развития воспаления состоит в том, что зуб при прорезывании преодолевает массу препятствий: костную ткань, надкостницу, мягкие ткани. При трудном и длительном прорезывании над зубом формируется своеобразный капюшон, под который попадают болезнетворные бактерии и остатки пищи. В результате развивается воспалительный процесс.
            +price('Удаление кисты зуба (с резекцией верхушки корня)', '8000 ₽')
                span Перикоронарит, или перикоронит, — это воспалительное заболевание, которое распространяется на ткани вокруг прорезывающегося зуба. Механизм развития воспаления состоит в том, что зуб при прорезывании преодолевает массу препятствий: костную ткань, надкостницу, мягкие ткани. При трудном и длительном прорезывании над зубом формируется своеобразный капюшон, под который попадают болезнетворные бактерии и остатки пищи. В результате развивается воспалительный процесс.
            +price('Пластика уздечки верхней/нижней губы, языка (обычная)', '1500 ₽')
                span Перикоронарит, или перикоронит, — это воспалительное заболевание, которое распространяется на ткани вокруг прорезывающегося зуба. Механизм развития воспаления состоит в том, что зуб при прорезывании преодолевает массу препятствий: костную ткань, надкостницу, мягкие ткани. При трудном и длительном прорезывании над зубом формируется своеобразный капюшон, под который попадают болезнетворные бактерии и остатки пищи. В результате развивается воспалительный процесс.
            +price('Пластика предверия полости рта', '6500 ₽')
                span Перикоронарит, или перикоронит, — это воспалительное заболевание, которое распространяется на ткани вокруг прорезывающегося зуба. Механизм развития воспаления состоит в том, что зуб при прорезывании преодолевает массу препятствий: костную ткань, надкостницу, мягкие ткани. При трудном и длительном прорезывании над зубом формируется своеобразный капюшон, под который попадают болезнетворные бактерии и остатки пищи. В результате развивается воспалительный процесс.
            +price('Альвостаз', '500 ₽')
                span Перикоронарит, или перикоронит, — это воспалительное заболевание, которое распространяется на ткани вокруг прорезывающегося зуба. Механизм развития воспаления состоит в том, что зуб при прорезывании преодолевает массу препятствий: костную ткань, надкостницу, мягкие ткани. При трудном и длительном прорезывании над зубом формируется своеобразный капюшон, под который попадают болезнетворные бактерии и остатки пищи. В результате развивается воспалительный процесс.
            +price('Наложение швов', '500 ₽')
                span Перикоронарит, или перикоронит, — это воспалительное заболевание, которое распространяется на ткани вокруг прорезывающегося зуба. Механизм развития воспаления состоит в том, что зуб при прорезывании преодолевает массу препятствий: костную ткань, надкостницу, мягкие ткани. При трудном и длительном прорезывании над зубом формируется своеобразный капюшон, под который попадают болезнетворные бактерии и остатки пищи. В результате развивается воспалительный процесс.
