mixin service(title, price, ...items)
    div.service
        img(src="images/service_1.svg", alt=title).icon
        div.name
            span Стоматология
            h3= title
        ul 
            each item in items
                li= item
        div.order
            span= price
            a(href="###").arrow
                include ../../../images/swiper-arrow.svg


section.services
    div.container

        div.title
            h2 Наши услуги
            div.swiper-navigation
                div.arrow
                    include ../../../images/swiper-arrow.svg
                div.arrow
                    include ../../../images/swiper-arrow.svg

        div.swiper
            div.swiper-wrapper
                div.swiper-slide
                    +service('Удаление зуба', '8990 руб.', 'Безболезненная процедура с современной анестезией', 'Минимальная травматизация тканей, ускоренное заживление', 'Быстрое восстановление после процедуры', 'Рекомендации для комфортного восстановления')
                div.swiper-slide
                    +service('Имплантация', '29990 руб.', 'Современная методика замены потерянных зубов ', 'Надежность и долговечность — имплантаты служат десятилетиями', 'Минимальная травматизация, быстрое восстановление', 'Индивидуальный подход и высококачественные материалы')
                div.swiper-slide
                    +service('Пластика уздечки языка миниинвазивная', '5990 руб.', 'Коррекция уздечки для улучшения подвижности языка, по ортодонтическим показаниям', 'Процедура выполняется быстро и безболезненно', 'Помогает улучшить речь, питание и гигиену полости рта')
                div.swiper-slide
                    +service('Удаление зуба', '8990 руб.', 'Безболезненная процедура с современной анестезией', 'Минимальная травматизация тканей, ускоренное заживление', 'Быстрое восстановление после процедуры', 'Рекомендации для комфортного восстановления')
                div.swiper-slide
                    +service('Имплантация', '29990 руб.', 'Современная методика замены потерянных зубов ', 'Надежность и долговечность — имплантаты служат десятилетиями', 'Минимальная травматизация, быстрое восстановление', 'Индивидуальный подход и высококачественные материалы')
                div.swiper-slide
                    +service('Пластика уздечки языка миниинвазивная', '5990 руб.', 'Коррекция уздечки для улучшения подвижности языка, по ортодонтическим показаниям', 'Процедура выполняется быстро и безболезненно', 'Помогает улучшить речь, питание и гигиену полости рта')


        div.swiper-pagination-custom
