extends common/pug/_layout.pug

block links
    link(rel="stylesheet", href="css/index.css")

block content
    include sections/index/_main.pug
    include sections/index/_advantages.pug
    include sections/index/_about.pug
    include sections/index/_services.pug
    include sections/index/_banner.pug
    include sections/index/_doctors.pug
    include sections/index/_prices.pug
    include sections/index/_about.pug
    include sections/index/_another.pug
    include sections/index/_questions.pug
    include sections/index/_form.pug
    include sections/index/_map.pug